@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: black;
}
* {
  /* box-sizing: border-box; */
  margin: 0;
}
body h1,
h2,
h3,
h4,
p,
li {
  color: white;
}

/* Miama font */
@font-face {
  font-family: miama;
  src: url("../font/Miama.ttf");
}

/* Shared style */
.primary-btn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  border-radius: 2.6rem;
  border: none;
  color: white;
  background-color: rgb(230, 83, 60);
  cursor: pointer;
}
.h-two-font {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}

.all-container-content {
  width: 90%;
  margin: 2rem auto;
  border-radius: 1rem;
}
.paragraph p {
  font-size: 0.9rem;
  /* font-size: 0.873rem; */
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
}

/* Header style */
.header-container {
  background-image: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  /* border: 2px solid black; */
  position: relative;
}

/* Navbar style///////////////////////////// */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-items: center; */
}
.hand-bargar-menu {
  display: none;
}
.navbar h2 {
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: orangered;
}
#vedio-tutorial {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
}
.nav-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  padding: 0.1rem;
  border: 1px solid rgb(114, 106, 106);
  border-radius: 4rem;
}
.nav-item {
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;
}
.nav-item:nth-child(1) {
  background-color: orangered;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
}
.workout-vdo-crd h2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
.vdo-crd h2 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}

/* Banner style /////////////////////////////*/
.banner-content {
  display: flex;
}
.banner-img {
  /* border: 2px solid red; */
  margin-left: 235px;
}
.banner-text-content h1 {
  font-size: 5rem;
  font-weight: 900;
  /* margin-bottom: 1.8rem; */
  margin-bottom: 2.1rem;
  /* line-height: 120%; */
  line-height: 100%;
  /* line-height: 40%; */
  letter-spacing: 0%;
}
.banner-text-content p {
  margin-bottom: 1.8rem;
}
#shape-style {
  font-family: miama;
  /* font-family: sans-serif; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: 9rem;
  font-weight: 400;
  /* line-height: 120%; */
  line-height: 90%;
}
.btn-div {
  max-width: 430px;
  /* border: 2px solid red; */
}
.join-btn::after {
  content: "Join Club Now!";
}
#dnlw-btn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  border-radius: 2.6rem;
  border: none;
  margin-left: 10px;
  color: white;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
}
.vedio-tutorial-crd {
  display: flex;
  /* justify-content: flex-start; */
  max-width: 180px;
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  padding: 0.8rem;
  margin: 15px;
  border-radius: 15px;
  text-align: left;
  position: absolute;
  gap: 10px;
  right: 450px;
  top: 500px;
  /* border: 2px solid red; */
}
#paragraph {
  padding: 5px 24px;
  background-color: orangered;
  border-radius: 800%;
}

.workout-vdo-crd {
  max-width: 180px;
  /* background: rgba(57, 52, 52, 0.3); */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 0.8rem;
  margin: 15px;
  border-radius: 15px;
  text-align: left;
  position: absolute;
  gap: 10px;
  right: 129px;
  top: 220px;
}

/* change section style */
.change-section-container {
  margin-top: 68px;
  text-align: center;
  /* border: 2px solid red; */
}
.change-section-container h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.paragraph h4 {
  margin-top: 30px;
  margin-bottom: 6px;
}

.banner-text-content {
  /* border: 2px solid red; */
}

/* Change your habit style */
.habit-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 58px;
  /* border: 2px solid red; */
}
.habit-card p {
  line-height: 18px;
  letter-spacing: 0.3px;
  /* border: 2px solid red; */
}
.habit-card h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
.habit-card img {
  border: 3px solid rgb(62, 61, 61);
  border-radius: 50%;
  /* border-color: darkgray; */
}

/* Run an Extra mile Style */
.run-section-container {
  display: flex;
  /* background-color: rgb(70, 67, 67); */
  background-color: rgb(34, 34, 34);
  margin-top: 75px;
  /* padding: 30px; */
  /* border: 2px solid red; */
}
.run-img {
  max-width: 450px;
  /* width: 40%; */
  padding: 30px;
  margin-left: 200px;
}
.run-img img {
  width: 100%;
  border-radius: 20px;
}
.run-text-content {
  max-width: 600px;
  padding: 40px 0px 0px 54px;
  /* border: 2px solid red; */
}
.run-text-content h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 14px;
}
.run-text-content p {
  margin-bottom: 34px;
}

/* BMI Text container style */
.bmi-text-container {
  text-align: center;
  /* width: 671px; */
  /* margin-left: 427px; */
  margin-top: 80px;
  /* margin-left: 300px; */
  /* border: 2px solid red; */
}
.bmi-text-container h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-text-container p {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}

/* BMI Calculate section style */
.bmi-calculate-container {
  display: flex;
  background: rgb(34, 34, 34);
  margin-top: 88px;
}
table {
  border-collapse: collapse;
  margin-top: 52px;
  margin-bottom: 133px;
}
th {
  color: white;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 18px;
}
td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 18px;
}
.bmi-chart {
  /* border: 2px solid red; */
  width: 310px;
  margin-top: 52px;
  margin-left: 189px;
}

.calculate-your-bmi {
  /* border: 2px solid red; */
  width: 577px;
  margin-left: 250px;
}
.calculate-your-bmi h2 {
  margin-top: 49px;
  margin-bottom: 14px;
  margin-left: 9px;
}
.calculate-your-bmi p {
  font-size: 0.875rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
  margin-left: 9px;
}
.calculate-your-bmi button {
  margin-left: 9px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 28px;
}
.form-field {
  width: 47%;
  margin-top: 10px;
  /* border: 2px solid red; */
}
.form-field-text-area {
  width: 97%;
  margin-top: 10px;
  /* border: 2px solid red; */
}

.form-container textarea,
input,
select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 40px;
  /* margin-left: 10px; */
  /* padding: 1px 10px 0px; */
  /* padding: 12px 40px 12px 20px; */
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  border: none;
  /* font-weight: 400; */
  /* line-height: 22px; */
  /* letter-spacing: 0px; */
}
.form-container select {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
}

/* MEET Our Team section style */

.team-section-container {
  /* border: 2px solid rgb(49, 0, 246); */
}
.team-text h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.team-text p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

.tainer-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  /* border: 2px solid green; */
}
.card {
  width: 326.67px;
  /* width: 430px; */
  min-height: 272px;
  padding: 20px;
  position: relative;
  /* padding: 20px; */
  /* border: 2px solid red; */
}
.card div:nth-child(1) {
  height: 272px;
  /* border: 2px solid purple; */
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  /* padding: 20px 20px 20px 20px; */
  /* background-color: black; */
  /* border: 2px solid yellow; */
}

.tainer-text h3 {
  position: absolute;
  top: 205px;
  left: 31px;
}
.tainer-text p {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 235px;
  left: 31px;
}

/* Footer section style */

.footer-section {
  /* display: flex; */
  /* background-color: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.1);
  color: red;
  /* border: 2px solid red; */
}
.footer-context {
  background: rgba(255, 255, 255, 0.1);
}
.footer-container {
  display: flex;
  /* background: rgba(255, 255, 255, 0.1); */
  /* border: 2px solid rgb(47, 0, 255); */
}
.second-text-content h1 {
  margin-top: 66px;
  margin-bottom: 39px;
}
.third-text-content h1 {
  margin-bottom: 39px;
  margin-top: 66px;
}
.fitness-text {
  margin-left: 100px;
}
.fitness-text h1 {
  font-size: 4.375rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 66px;
  color: rgb(230, 83, 60);
}
.fitness-text p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.get-start p {
  font-size: 1.4375rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 20px;
}
.second-text-content {
  margin-left: 240px;
}
.third-text-content {
  margin-left: 220px;
  /* border: 2px solid red; */
}
#border {
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-top: 79px;
  margin-bottom: 36px;
  /* width: 1059.5px; */
  width: 1262px;
  margin-left: 100px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* border: 2px solid red; */
}
.last-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  padding-bottom: 35px;
  /* background: rgba(255, 255, 255, 0.1); */
}
/* display hide */
.hide {
  display: none;
}

/* Responsive for mobile ///////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 576px) {
  .header-container {
    background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0) 100%
    );
  }

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-items: center;
    /* margin: 10px 0px 0px; */
  }
  .navbar h2 {
    margin-bottom: 0px;
  }
  .hand-bargar-menu {
    display: block;
  }
  .nav-option {
    display: none;
  }
  .banner-content,
  .run-section-container {
    flex-direction: column;
    /* margin: 20px; */
  }
  .run-section-container {
    margin: 20px;
  }

  .banner-img {
    /* margin: 20px; */
    margin: 0px;
  }
  .btn-div {
    display: flex;
    width: 350px;
    gap: 10px;
    /* font-size: 1rem;
    font-weight: 600; */
    /* border: 2px solid red; */
  }
  .join-btn::after {
    content: "Join Now!";
    /* padding: 0; */
  }
  .vedio-tutorial-crd {
    /* position: 100px; */
    right: 220px;
    top: 635px;
  }
  .workout-vdo-crd {
    right: 60px;
    top: 416px;
  }
  .banner-text-content h1 {
    font-size: 2.3rem;
  }
  #bnner-description {
    max-width: 274px;
  }
  #shape-style {
    /* font-family: miama; */
    font-family: miama;
    /* font-family: sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 120%;
  }
  .primary-btn {
    /* font-size: 0.5rem; */
    /* width: 10.585rem; */
    font-size: 1rem;
    font-weight: 600;
    width: 10.585rem;
    padding: 5px 0px;
  }
  #dnlw-btn {
    font-size: 1rem;
    font-weight: 600;
    width: 10.585rem;
    padding: 15px 0px;
  }

  /* // */
  .vedio-tutorial-crd {
    /* display: flex; */
    /* justify-content: flex-start; */
    max-width: 155.74px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(15.12px);
    padding: 10px 10px 10px 10px;
    margin: 15px;
    border-radius: 15px;
    /* text-align: left;
    position: absolute;
    gap: 10px;
    right: 450px;
    top: 500px; */
    /* box-sizing: border-box;
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    border-radius: 9.07px;
     */
    /* border: 2px solid red; */
  }
  .vdo-crd h2 {
    font-size: 18.14px;
    font-weight: 900;
  }
  #vedio-tutorial {
    /* font-size: ; */
    font-size: 12.1px;
    font-weight: 400;
    line-height: 18.14px;
    letter-spacing: 0.38px;
  }
  .paragraph h2 {
    font-size: 30.24px;
    font-weight: 900;
    line-height: 30.24px;
    letter-spacing: 0.76px;
  }
  .paragraph p {
    font-size: 9.83px;
    font-weight: 400;
    line-height: 15.12px;
    letter-spacing: 0.76px;
  }
  /* Change Your Habit section */
  .change-section-container {
    margin-top: 0px;
  }
  .habit-container {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    /* margin-top: 58px; */
    /* border: 2px solid red; */
  }
  .habit-card p {
    margin-bottom: 40px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  /* Run an Extra Mile Easily */
  .run-text-content h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    /* border: 2px solid red; */
  }
  .run-text-content {
    padding: 33px 33px 0px 33px;
  }
  .run-text-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  .now-btn {
    width: 287px;
    padding: 16px 40px 16px 40px;
  }
  .run-img {
    /* width: 100%; */
    margin: 10px;
    padding: 20px;
    border-radius: 18px;
  }
  /* Bmi text */
  .bmi-text-container {
    /* width: 353px; */
    /* width: 100%; */
    margin: 20px;
  }
  .bmi-text-container h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .bmi-text-container p {
    font-size: 0.875rem;
    font-weight: 400;
  }

  /* BMI Calculate section style */
  .bmi-calculate-container {
    flex-direction: column;
  }
  .calculate-your-bmi h2 {
    font-size: 1rem;
    font-weight: 900;
    margin-top: 15px;
  }
  .calculate-your-bmi button {
    width: 224px;
    padding: 16px 40px 16px 40px;
    margin-left: 0px;
  }
  .bmi-chart {
    margin: 10px;
  }
  .bmi-chart h2 {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 900;
  }
  .calculate-your-bmi {
    /* width: 399px; */
    width: 354px;
    /* width: 100%; */
    margin: 10px;
    /* border: 2px solid red; */
  }
  table {
    margin-top: 23px;
    margin-bottom: 0px;
  }
  .form-container {
    width: 100%;
    /* border: 2px solid rgb(0, 244, 28); */
  }

  .calculate-your-bmi h2 {
    margin-left: 0px;
  }
  .calculate-your-bmi p {
    margin-left: 0px;
  }

  /* Meet our team responsive */
  .tainer-img-container {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
  }

  /* Footer section */
  /* .footer-section {
    flex-direction: column;
  } */
  .footer-container {
    flex-direction: column;
  }
  #border {
    width: 170px;
    margin-left: 20px;
  }
  .fitness-text {
    margin-left: 20px;
  }

  .second-text-content {
    margin-left: 20px;
  }
  .third-text-content {
    margin-left: 20px;
  }
  .last-text {
    margin-left: 20px;
    text-align: left;
    padding-bottom: 5px;
  }
}

/* Last Update.() */
